
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab:wght@700&display=swap');

:root {
 --primary-color: #340068;
 --secondary-color: #A0C3C5;
 --accent1--color: #98AEB3;
 --accent2--color: #8F98A1;
 
 --heading-font: 'Roboto+Slab', serif;
 --paragraph-font: 'Inter', sans-serif;

 --nav-background-color: #B1EDE8;
 --nav-link-color: #A0C3C5;
 --nav-hover-link-color: #98AEB3;
 --nav-hover-background-color: #8F98A1; 
}

body {
  font-family: var(--paragraph-font);  
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--heading-font);
   color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1--color);
}

p {
  padding: 25px;   
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;  
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);   
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);  
}






